{% extends "layout.html" %}
{% block content %}
  <h1>Course Reviewer</h1>
  <h2>
    <a href="{{url_for('reviews')}}">Click here to see reviews</a>
  </h2>
  <h2>
  <form action="{{ url_for('submit') }}" method=post>
    <span class="heading">Term: <input type=text name=term></span>
    <p class="heading">Year: <input type=text name=year></span>
    <p class="heading">Name: <input type=text name=name></span>
    <p class="heading">Instructor: <input type=text name=instructor></span>
    <p class="heading">Review: <input type=text name=review></span></p> 
    <p><input type=submit value=Submit>
  </form>
  </h2>
{% endblock %}
