{% extends "layout.html" %}
{% block content %}
  <h1>Reviews Below</h1>
  {% for review in reviews %}
    <td>{{ 'Term:  ' }}{{ review[0] }}</td><br>
    <td>{{ 'Year:  ' }}{{ review[1] }}</td><br>
    <td>{{ 'Course:  ' }}{{ review[2] }}</td><br>
    <td>{{ 'Instructor:  '}}{{ review[3] }}</td><br>
    <td>{{ 'Review:  '}}{{ review[4] }}</td><br>
    <br><br>
  {% endfor %}
{% endblock %}
