{% extends "layout.html" %}
{% block content %}
  <h1>Reviews Below</h1>
  <h2>Note: for sentiment analysis, -1 indicates strongly negative, 0 indicates neutral, and 1 indicates strongly positive</h2>
  {% for review in reviews %}
    <td>{{ 'Term:  ' }}{{ review[0] }}</td><br>
    <td>{{ 'Year:  ' }}{{ review[1] }}</td><br>
    <td>{{ 'Course:  ' }}{{ review[2] }}</td><br>
    <td>{{ 'Instructor:  '}}{{ review[3] }}</td><br>
    <td>{{ 'Review:  '}}{{ review[4] }}</td><br>
    <td>{{ 'Sentiment: '}}{{ review[5] }}</td><br>
    <br><br>
  {% endfor %}
{% endblock %}
