{% extends "layout.html" %}
{% block content %}
  <h1>Revisiónes Abajo</h1>
  <h2>Nota: para el análisis de sentimiento, -1 indica muy negative, 0 indica nautral, y 1 indica muy positivo</h2>
  {% for review in reviews %}
    <td>{{ 'Término:  ' }}{{ review[0] }}</td><br>
    <td>{{ 'Año:  ' }}{{ review[1] }}</td><br>
    <td>{{ 'Curso:  ' }}{{ review[2] }}</td><br>
    <td>{{ 'Instructor:  '}}{{ review[3] }}</td><br>
    <td>{{ 'Revisión:  '}}{{ review[4] }}</td><br>
    <td>{{ 'Sentiment:  '}}{{ review[5] }}</td><br>
    <br><br>
  {% endfor %}
{% endblock %}
